<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Resources.Listeners" />
	</listeners>
	<test name="Login">
		<classes>
			<class name="Testcases.LoginTest" />
		</classes>
	</test> <!-- Test -->
	<test name="HomePage">
		<classes>
			<class name="Testcases.HomePageTest" />
		</classes>
	</test> <!-- Test -->
	<test name="ResultsPage">
		<classes>
			<class name="Testcases.ResultsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
